.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .error{
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .navbar{
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    background:lightgray;
  }
  table, th, td {
    border: 1px solid black;
  }